.Aprendiendo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px;
}

.cardmio {
  flex: 1 1 300px;
  margin: 10px;
  text-align: center;
}
.cardiguana{
  flex: 1 1 300px;
  margin: 10px;
  text-align: center;
}
.cardfull {
  flex: 1 1 300px;
  margin: 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .cardmio{
    flex-basis: calc(100% - 20px);
  }
  .cardiguana{
    flex-basis: calc(100% - 20px);
  }
  .cardfull {
    flex-basis: calc(100% - 20px);
  }
}